.front {
  background-color: lightgreen;
  height: 210px;
  // width: 100%;
  // display: flex;
  // justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.back {
  background-color: lightblue;
  height: 210px;
  // display: flex;
  // justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.chipStyle {
  background-color: #569a738f !important;
}
