<div class="container">
  <div fxLayoutAlign="center center" class="first">
    <mat-card
      class="card"
      fxLayout.lg="column"
      fxLayout.xs="column"
      fxFlex.lg="50"
      fxFlex.xs="100"
    >
      <div fxLayout="row">
        <div class="image"></div>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          style="padding: 15px 0px 10px 57px"
        >
          <div fxShow.lg fxHide.xs class="name">KAMATCHIDEVI MADURAIVEERAN</div>
          <div fxShow.xs fxHide.lg class="name">KAMATCHIDEVI. M</div>
          <div fxShow.lg fxHide.xs>
            <i>3+ years of experience in Software Design and Development</i>
          </div>
        </div>
      </div>
      <div style="border: 0.5px #93a169 solid"></div>
      <div fxLayout.lg="row" fxLayout.xs="column" fxFlex="100">
        <div
          fxFlex.lg="37"
          fxFlex.xs="100"
          fxLayout.lg="column"
          fxLayout.xs="row"
          style="background-color: rgb(215 234 202 / 89%)"
        >
          <div fxFlex.lg="70" fxFlex.xs="100" style="padding-top: 5px">
            <p
              style="color: #979393; font-weight: bold; font-size: 17px"
              class="design"
            >
              Summary
            </p>
            <!-- <div class="divider"></div> -->
            <h4 style="color: white; padding: 10px">
              With a strong technical skill-set, attention to detail, and 3+
              years of Information technology experience, individual wants to
              work as a Full Stack Developer where creation of digital magic and
              elevation of user experience to the next level will be vigorously
              pursued.
            </h4>
            <p
              style="color: #979393; font-weight: bold; font-size: 17px"
              class="design"
            >
              Contacts
            </p>
            <!-- <div class="divider"></div> -->
            <h4
              style="color: white; padding: 10px"
              fxLayout="column wrap"
              fxLayoutGap="20px"
              transform="translate(-4634.008 -355.852)"
            >
              <span
                ><mat-icon>person_pin_circle</mat-icon>Semmankuli street,
                M.vadipatti, Dindigul (dist). 624211</span
              >
              <span
                ><mat-icon>alternate_email</mat-icon
                >kamatchidevi97@gmail.com</span
              >
              <span><mat-icon>call</mat-icon>+91 8220487432</span>
              <span> https://www.linkedin.com/in/kamatchi-devi-89a3b1144/</span>
            </h4>

            <p
              style="color: #979393; font-weight: bold; font-size: 17px"
              class="design"
            >
              Languages
            </p>
            <h4
              style="color: white; padding: 10px"
              fxLayout="column wrap"
              fxLayoutGap="20px"
              transform="translate(-4634.008 -355.852)"
            >
              <ul>
                <li>Tamil</li>
                <li>English</li>
              </ul>
            </h4>
          </div>
        </div>
        <div
          fxFlex.lg
          fxFlex.xs="100"
          fxLayout.lg="column"
          fxLayout.xs="row"
          style="background-color: rgb(242 250 243)"
        >
          <div style="padding: 10px 0px 0px 20px">
            <p
              style="color: #979393; font-weight: bold; font-size: 17px"
              class="design"
            >
              Experience
            </p>
            <ul>
              <li>
                <p>
                  <b>VIT Infotech</b>, Bangalore -
                  <i><b>Software Engineer</b></i>
                </p>
                <p style="font-size: 12px">July 2018 - present</p>
              </li>
            </ul>
            <p
              style="color: #979393; font-weight: bold; font-size: 17px"
              class="design"
            >
              Education
            </p>
            <ul>
              <li>
                <p>
                  <b>Velammal College of Engineering and Technology</b>, Madurai
                  - <i><b>BE CSE</b></i>
                </p>
                <p style="font-size: 12px">August 2014 - August 2018</p>
              </li>
            </ul>
            <p
              style="color: #979393; font-weight: bold; font-size: 17px"
              class="design"
            >
              Projects
            </p>
            <ul>
              <li>
                <b>HRMS - Human Resource Management System</b> -
                <i>Angular 8 - java 11</i>
                <mat-chip-list>
                  <mat-chip
                    style="background-color: #569a738f !important"
                    selected
                    (click)="onClick()"
                    >Details</mat-chip
                  >
                </mat-chip-list>
              </li>

              <li>
                <b> WMS - Warehouse Management System</b> -
                <i>Angular 6 and Java 8</i>
                <mat-chip-list>
                  <mat-chip
                    style="background-color: #569a738f !important"
                    selected
                    (click)="onClickWMS()"
                    >Details</mat-chip
                  >
                </mat-chip-list>
              </li>
              <li>
                <b> UMS - University Management System </b> -
                <i>Angular 10 - java 11</i>
                <mat-chip-list>
                  <mat-chip
                    style="background-color: #569a738f !important"
                    selected
                    (click)="onClickUMS()"
                    >Details</mat-chip
                  >
                </mat-chip-list>
              </li>
            </ul>
            <p
              style="color: #979393; font-weight: bold; font-size: 17px"
              class="design"
            >
              Skills
            </p>
            <ngx-charts-bar-vertical
              fxShow.lg
              fxHide.xs
              [view]="view"
              [results]="single"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)"
            >
            </ngx-charts-bar-vertical>
            <ngx-charts-bar-vertical
              fxShow.xs
              fxHide.lg
              [view]="view_1"
              [results]="single"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)"
            >
            </ngx-charts-bar-vertical>
            <!-- <ngx-charts-pie-grid
              [view]="view"
              [results]="single"
              (select)="onSelect($event)"
            >
            </ngx-charts-pie-grid> -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <!-- <div fxFlex class="second"></div> -->
</div>
