<div fxLayout="column" class="container">
  <div
    fxFlex.lg="70"
    fxFlex.xs="100"
    fxLayoutAlign="center center"
    class="first"
  >
    <mat-card
      class="card"
      fxLayout.lg="row"
      fxLayout.xs="column"
      fxFlex.lg="50"
      fxFlex.xs="100"
    >
      <div fxFlex.lg="35" fxFlex.xs="100" fxLayout="column">
        <div fxFlex.lg="60" fxFlex.xs="100" class="photo" fxFlexFill.xs></div>
        <div fxFlex.lg fxFlex.xs="100" style="padding: 16px">
          <p style="color: #979393; font-weight: bold; font-size: 17px">
            Summary
          </p>
          <div class="divider"></div>
          <h4 style="color: white">
            With a strong technical skill-set, attention to detail, and 3+ years
            of Information technology experience, individual wants to work as a
            Front-end Web Developer where creation of digital magic and
            elevation of user experience to the next level will be vigorously
            pursued.
          </h4>
        </div>
      </div>
      <div fxFlex.lg fxFlex.xs="100">yyy</div>
    </mat-card>
  </div>
  <div fxFlex class="second"></div>
</div>
