<mat-toolbar style="background-color: rgb(144 210 153 / 75%)">
  <span fxShow.lg fxHide.xs>WMS- Warehouse Management System</span>
  <span fxShow.xs fxHide.lg>WMS</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<!-- <mat-dialog-content> -->
<div style="padding: 10px">
  <ul>
    <li>
      Development of an Enterprise application for warehouse management. This
      system provides product inventory transactions like receipt, checkout,
      disposal operation and report generation.
    </li>
    <li>
      Implemented responsive web pages for transactions and master data
      organizing.
    </li>
    <li>Implemented REST API'S for transaction functionalities..</li>
    <li>Used MySQL database for data management.</li>
    <li>
      Implemented mail sending features and processing excel data and stored
      those data in the database.
    </li>
  </ul>
  <div>
    <ngx-charts-pie-chart
      fxShow.lg
      fxHide.xs
      [view]="view"
      [results]="single"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-pie-chart>
    <ngx-charts-pie-chart
      fxShow.xs
      fxHide.lg
      [view]="view_1"
      [results]="single"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendPosition]="legendPosition_1"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-pie-chart>
  </div>
</div>
